

body {
    background-color: #DED5D5 ;
    color: #593D4D ; 
    text-align: center;
    font-size: 200%;
}

h1 {
    color: #62647C  ;
    }

table, th, td {
    border: 1px solid;
    border-collapse: collapse;
    }

div {
    width: 900px;
    height: 100px;
}